@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-12px);
  }
  40% {
    transform: translateY(-12px);
  }
  60% {
    transform: translateY(-6px);
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #d3d3d3;
  color: var(--light-background-color);
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline-color: var(--primary-color);
  transition: outline-color 0.3s ease-out;
}

label {
  font-family: var(--text-font);
  color: var(--text-color);
}

#contact {
  padding-top: 35px;
}

#contact-container {
  display: grid;
  padding: 0 16px;
}

.contact-form{
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  border: 1px solid rgba(227, 176, 252, 0.12);
  padding: 20px;
}

.contact-links {
  align-items: center;
  margin: 25px;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 650px) {
  #contact-container {
    grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .contact-form {
    grid-row: 2 / 5;
    grid-column: 2 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-links {
    grid-row: 1;
    grid-column: 2 / 4;
  }
}

@media screen and (min-width: 800px) {
  #contact-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0 auto;
  }
}

@media screen and (min-width: 1350px) {
  #contact-container {
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  }
}

.contact-links a {
  text-align: center;
  padding: 5px;
}

.contact-submit {
  background-color: transparent;
  border: 3px solid var(--primary-color);
  padding: 10px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-family: var(--subtitle-font);
  color: var(--text-color);
}

.contact-submit:hover,
.contact-submit:active {
  background-color: var(--primary-color);
  color: var(--light-background-color);
  transition: all 0.8s ease;
}

.contact-bounce {
  display: inline-block;
  filter: drop-shadow(4px 3px 5px rgba(0, 0, 0, 0.736));
}

@media screen and (min-width: 800px) {
  .contact-bounce:hover {
    animation: bounce 2s;
    animation-iteration-count: infinite;
  }
}

.required-fields {
  font-style: italic;
  font-family: var(--text-font);
  color: var(--primary-color);
  font-size: 0.8rem;
}

.confirmation-msg {
  color: var(--primary-color);
}

.example {
  font-style: italic;
  font-size: smaller;
}